dist/
deploy-config.json
__pycache__
.vscode
old/
.debug*
.venv
env
.sm_*
*_rc.py
GUI/about_ui.py
GUI/app_ui.py
GUI/insert_form_ui.py
SeqModeller.cflags
SeqModeller.creator.user
SeqModeller.cxxflags
.qtc_clangd/compile_commands.json
